<!-- hero -->
<section class="hero-section">
        <div class="container">
                <div class="hero-conteiner">
                        <h1 class="hero-title"><span class="hero-span">Welcome to</span><br /> Luck Trail Force</h1>
                        <p class="hero-text">Experience adventure, build resilience, and embrace the wild.</p>
                        <p class="hero-big-text">At Luck Trail Force, we create unforgettable outdoor experiences that
                                challenge, inspire, and unite. Whether you're an individual seeking adventure, a company
                                looking
                                for team-building programs, or a school organizing an outdoor education trip, we provide
                                expert-guided expeditions that test limits and create lasting memories.</p>
                </div>
        </div>
</section>
<!-- Our Adventure Philosophy -->
<aside class="adventure-section">
        <div class="title-container title-container-adeventure">
                <h2 class="adventure-title">Our Adventure Philosophy</h2>
        </div>
        <div class="container item-container">
                <div class="quote-container">
                        <img class="adventure-quote-img" src="/img/adventure/quote.png" alt="Quote">
                        <p class="adventure-text">Exploration is more than a journey – it’s a transformation.</p>
                </div>
                <ul class="adventure-list">
                        <li class="adventure-item">
                                <picture class="picture">
                                        <source srcset="/img/adventure/courage-desk.png  1x,  /img/adventure/courage-desk@2x.png 2x
 " media="(min-width: 1439px)" />
                                        <source srcset="/img/adventure/courage-mob.png  1x,   /img/adventure/courage-mob@2x.png 2x
" media="(max-width: 1438px)" />
                                        <img class="adventure-img" src="/img/adventure/courage-mob.png" alt="Courage"
                                                loading="lazy" />
                                </picture>
                                <h3 class="adventure-list-title">Courage & Growth:</h3>
                                <p class="adventure-list-text">We push limits and encourage participants to step outside
                                        their comfort zones.</p>
                        </li>
                        <li class="adventure-item">
                                <picture class="picture">
                                        <source srcset="
                /img/adventure/team-desk.png  1x,
                /img/adventure/team-desk@2x.png 2x
                        " media="(min-width: 1439px)" />
                                        <source srcset="
                /img/adventure/team-mob.png   1x,
                /img/adventure/team-mob@2x.png 2x
                        " media="(max-width: 1438px)" />
                                        <img class="adventure-img" src="/img/adventure/team-mob.png" alt="Team"
                                                loading="lazy" />
                                </picture>

                                <h3 class="adventure-list-title">Teamwork & Leadership:</h3>
                                <p class="adventure-list-text">Our activities strengthen collaboration, trust, and
                                        leadership skills.</p>

                        </li>
                        <li class="adventure-item">
                                <picture class="picture">
                                        <source srcset="
                    /img/adventure/challenge-desk.png  1x,
                    /img/adventure/challenge-desk@2x.png 2x
                            " media="(min-width: 1439px)" />
                                        <source srcset="
                    /img/adventure/challenge-mob.png   1x,
                    /img/adventure/challenge-mob@2x.png 2x
                            " media="(max-width: 1438px)" />
                                        <img class="adventure-img" src="/img/challenge/team-mob.png" alt="Challenge"
                                                loading="lazy" />
                                </picture>

                                <h3 class="adventure-list-title">Challenge-Based Learning:</h3>
                                <p class="adventure-list-text">Every expedition is designed to teach resilience,
                                        problem-solving, and adaptability.</p>

                        </li>
                        <li class="adventure-item">
                                <picture class="picture">
                                        <source srcset="
                    /img/adventure/respect-desk.png  1x,
                    /img/adventure/respect-desk@2x.png 2x
                            " media="(min-width: 1439px)" />
                                        <source srcset="
                    /img/adventure/respect-mob.png   1x,
                    /img/adventure/respect-mob@2x.png 2x
                            " media="(max-width: 1438px)" />
                                        <img class="adventure-img" src="/img/challenge/respect-mob.png" alt="Respect"
                                                loading="lazy" />
                                </picture>

                                <h3 class="adventure-list-title">Respect for Nature:</h3>
                                <p class="adventure-list-text">We teach environmental awareness and survival skills to
                                        foster a deeper connection with the outdoors.</p>

                        </li>
                </ul>
        </div>
</aside>
<!-- Expedition Programs -->
<section class="expedition-section">
        <div class="title-container">
                <h2 class="expedition-title">Expedition Programs</h2>
        </div>
        <div class="container">
                <p class="expedition-text">Choose your adventure – tailored experiences for all skill levels.
                </p>
                <ul class="expedition-list">
                        <li class="expedition-item">
                                <figure class="expedition-img-figure">
                                        <img class="expedition-img" src="/img/expedition/survival.png"
                                                srcset="/img/expedition/survival.png 1x, /img/expedition/survival@2x.png 2x"
                                                alt="Survival" loading="lazy" width="344" height="198" />
                                        <figcaption class="expedition-describe">Survival Training Camp</figcaption>
                                </figure>
                                <p class="expedition-text-img">Master essential survival skills, including fire-making,
                                        shelter-building, and navigation.</p>
                        </li>
                        <li class="expedition-item">
                                <figure class="expedition-img-figure">
                                        <img class="expedition-img" src="/img/expedition/hikig.png"
                                                srcset="/img/expedition/hikig.png 1x, /img/expedition/hikig@2x.png 2x"
                                                alt="Hiking" loading="lazy" width="344" height="198" />
                                        <figcaption class="expedition-describe">Hiking & Trekking Adventures
                                        </figcaption>
                                </figure>
                                <p class="expedition-text-img">Experience breathtaking trails and test endurance in
                                        nature’s most stunning terrains.</p>
                        </li>
                        <li class="expedition-item">
                                <figure class="expedition-img-figure">
                                        <img class="expedition-img" src="/img/expedition/biking.png"
                                                srcset="/img/expedition/biking.png 1x, /img/expedition/biking@2x.png 2x"
                                                alt="Biking" loading="lazy" width="344" height="198" />
                                        <figcaption class="expedition-describe">Mountain Biking Expedition</figcaption>
                                </figure>
                                <p class="expedition-text-img">Ride through rugged landscapes and conquer challenging
                                        trails.</p>
                        </li>
                        <li class="expedition-item">
                                <figure class="expedition-img-figure">
                                        <img class="expedition-img" src="/img/expedition/climbing.png"
                                                srcset="/img/expedition/climbing.png 1x, /img/expedition/climbing@2x.png 2x"
                                                alt="Climbing" loading="lazy" width="344" height="198" />
                                        <figcaption class="expedition-describe">Rock Climbing & Rappelling</figcaption>
                                </figure>
                                <p class="expedition-text-img">Learn climbing techniques, conquer heights, and overcome
                                        fears.</p>
                        </li>
                        <li class="expedition-item">
                                <figure class="expedition-img-figure">
                                        <img class="expedition-img" src="/img/expedition/canoe.png"
                                                srcset="/img/expedition/canoe.png 1x, /img/expedition/canoe@2x.png 2x"
                                                alt="Canoe" loading="lazy" width="344" height="198" />
                                        <figcaption class="expedition-describe">Whitewater Rafting & Kayaking
                                        </figcaption>
                                </figure>
                                <p class="expedition-text-img">Navigate rapid waters and enhance coordination under
                                        expert guidance.</p>
                        </li>
                        <li class="expedition-item">
                                <figure class="expedition-img-figure">
                                        <img class="expedition-img" src="/img/expedition/retreat.png"
                                                srcset="/img/expedition/retreat.png 1x, /img/expedition/retreat@2x.png 2x"
                                                alt="Retreat" loading="lazy" width="344" height="198" />
                                        <figcaption class="expedition-describe">Eco-Exploration & Wilderness Retreats
                                        </figcaption>
                                </figure>
                                <p class="expedition-text-img">Immerse in sustainable living, wildlife tracking, and
                                        nature conservation activities.</p>
                        </li>

                </ul>
        </div>
</section>
<!-- Team-Building Challenges -->
<section class="team-section">
        <div class="title-container title-container-adeventure">
                <h2 class="team-title">Team-Building Challenges</h2>
        </div>
        <div class="container">
                <p class="team-text">Stronger together: adventure-driven teamwork experiences.</p>
                <ul class="team-list">
                        <li class="team-item">
                                <div class="team-img-container">
                                        <img class="team-img" src="/img/team/time.png"
                                                srcset="/img/team/time.png 1x, /img/team/time@2x.png 2x" alt="Time"
                                                loading="lazy" width="319" height="176" />
                                        <div class="text-container">
                                                <h3 class="team-describe">The Ultimate Obstacle Course:</h3>

                                                <p class="team-text-img">Test endurance, agility, and problem-solving
                                                        skills in
                                                        a timed
                                                        team challenge.</p>
                                        </div>
                                </div>
                        </li>
                        <li class="team-item">
                                <div class="team-img-container">
                                        <img class="team-img" src="/img/team/picsurvival.png"
                                                srcset="/img/team/picsurvival.png 1x, /img/team/picsurvival@2x.png 2x"
                                                alt="Picsurvival" loading="lazy" width="319" height="176" />
                                        <div class="text-container">
                                                <h3 class="team-describe">The Survival Simulation:</h3>

                                                <p class="team-text-img">Teams must work together to gather resources,
                                                        build
                                                        shelters,
                                                        and navigate the wild.</p>
                                        </div>
                                </div>
                        </li>
                        <li class="team-item">
                                <div class="team-img-container">
                                        <img class="team-img" src="/img/team/picleadership.png"
                                                srcset="/img/team/picleadership.png 1x, /img/team/picleadership@2x.png 2x"
                                                alt="Picleadership" loading="lazy" width="319" height="176" />
                                        <div class="text-container">
                                                <h3 class="team-describe">The Leadership Gauntlet:</h3>

                                                <p class="team-text-img">A multi-stage challenge that tests leadership
                                                        under
                                                        pressure
                                                        through strategic decision-making.
                                                </p>
                                        </div>
                                </div>
                        </li>
                        <li class="team-item">
                                <div class="team-img-container">
                                        <img class="team-img" src="/img/team/picteam.png"
                                                srcset="/img/team/picteam.png 1x, /img/team/picteam@2x.png 2x"
                                                alt="Picteam" loading="lazy" width="319" height="176" />
                                        <div class="text-container">
                                                <h3 class="team-describe">The Trust Climb:</h3>

                                                <p class="team-text-img">A partner-based rock-climbing challenge that
                                                        strengthens trust
                                                        and communication.</p>
                                        </div>
                                </div>
                        </li>
                        <li class="team-item">
                                <div class="team-img-container">
                                        <img class="team-img" src="/img/team/compass.png"
                                                srcset="/img/team/compass.png 1x, /img/team/compass@2x.png 2x"
                                                alt="Compass" loading="lazy" width="319" height="176" />
                                        <div class="text-container">
                                                <h3 class="team-describe">Navigation Quest:</h3>

                                                <p class="team-text-img">Participants must use maps and compasses to
                                                        locate
                                                        hidden
                                                        checkpoints and reach the finish line first.</p>
                                        </div>
                                </div>
                        </li>
                        <li class="team-item">
                                <div class="team-img-container">
                                        <img class="team-img" src="/img/team/aidd.png"
                                                srcset="/img/team/aidd.png 1x, /img/team/aidd@2x.png 2x" alt="Aidd"
                                                loading="lazy" width="319" height="176" />
                                        <div class="text-container">
                                                <h3 class="team-describe">Wilderness First Aid Drill:</h3>

                                                <p class="team-text-img">Learn essential medical skills and compete in
                                                        rescue
                                                        simulation
                                                        scenarios.</p>
                                        </div>
                                </div>
                        </li>
                </ul>
        </div>
</section>