<!-- hero -->
<section class="hero-section" id="Welcome">
        <div class="container hero-first-container">
                <div class="hero-conteiner">
                        <h1 class="hero-title"><span class="hero-span">Welcome to</span><br /> Luck Trail Force</h1>
                        <p class="hero-text">Experience adventure, build resilience, and embrace the wild.</p>
                        <p class="hero-big-text">At Luck Trail Force, we create unforgettable outdoor experiences that
                                challenge, inspire, and unite. Whether you're an individual seeking adventure, a company
                                looking
                                for team-building programs, or a school organizing an outdoor education trip, we provide
                                expert-guided expeditions that test limits and create lasting memories.</p>
                </div>
        </div>
</section>
<!-- Our Adventure Philosophy -->
<aside class="adventure-section" id="Adventure">
        <div class="title-container"></div>
        <div class="container item-container">
                <h2 class="adventure-title">Our Adventure Philosophy</h2>
                <div class="quote-container">
                        <img class="adventure-quote-img" src="/img/adventure/quote.png" alt="Quote">
                        <p class="adventure-text">Exploration is more than a journey – it’s a transformation.</p>
                </div>
                <ul class="adventure-list">
                        <li class="adventure-item">
                                <picture class="picture">
                                        <source srcset="/img/adventure/courage-desk.png  1x,  /img/adventure/courage-desk@2x.png 2x
 " media="(min-width: 1439px)" />
                                        <source srcset="/img/adventure/courage-mob.png  1x,   /img/adventure/courage-mob@2x.png 2x
" media="(max-width: 1438px)" />
                                        <img class="adventure-img" src="/img/adventure/courage-mob.png" alt="Courage"
                                                loading="lazy" />
                                </picture>
                                <h3 class="adventure-list-title">Courage & Growth:</h3>
                                <p class="adventure-list-text">We push limits and encourage participants to step outside
                                        their comfort zones.</p>
                        </li>
                        <li class="adventure-item">
                                <picture class="picture">
                                        <source srcset="
                /img/adventure/team-desk.png  1x,
                /img/adventure/team-desk@2x.png 2x
                        " media="(min-width: 1439px)" />
                                        <source srcset="
                /img/adventure/team-mob.png   1x,
                /img/adventure/team-mob@2x.png 2x
                        " media="(max-width: 1438px)" />
                                        <img class="adventure-img" src="/img/adventure/team-mob.png" alt="Team"
                                                loading="lazy" />
                                </picture>

                                <h3 class="adventure-list-title">Teamwork & Leadership:</h3>
                                <p class="adventure-list-text">Our activities strengthen collaboration, trust, and
                                        leadership skills.</p>

                        </li>
                        <li class="adventure-item">
                                <picture class="picture">
                                        <source srcset="
                    /img/adventure/challenge-desk.png  1x,
                    /img/adventure/challenge-desk@2x.png 2x
                            " media="(min-width: 1439px)" />
                                        <source srcset="
                    /img/adventure/challenge-mob.png   1x,
                    /img/adventure/challenge-mob@2x.png 2x
                            " media="(max-width: 1438px)" />
                                        <img class="adventure-img" src="/img/challenge/team-mob.png" alt="Challenge"
                                                loading="lazy" />
                                </picture>

                                <h3 class="adventure-list-title">Challenge-Based Learning:</h3>
                                <p class="adventure-list-text">Every expedition is designed to teach resilience,
                                        problem-solving, and adaptability.</p>

                        </li>
                        <li class="adventure-item">
                                <picture class="picture">
                                        <source srcset="
                    /img/adventure/respect-desk.png  1x,
                    /img/adventure/respect-desk@2x.png 2x
                            " media="(min-width: 1439px)" />
                                        <source srcset="
                    /img/adventure/respect-mob.png   1x,
                    /img/adventure/respect-mob@2x.png 2x
                            " media="(max-width: 1438px)" />
                                        <img class="adventure-img" src="/img/challenge/respect-mob.png" alt="Respect"
                                                loading="lazy" />
                                </picture>

                                <h3 class="adventure-list-title">Respect for Nature:</h3>
                                <p class="adventure-list-text">We teach environmental awareness and survival skills to
                                        foster a deeper connection with the outdoors.</p>

                        </li>
                </ul>
        </div>
</aside>
<!-- Expedition Programs -->
<section class="expedition-section" id="Expedition">
        <div class="title-container">
        </div>
        <div class="container">
                <h2 class="expedition-title">Expedition Programs</h2>
                <p class="expedition-text">Choose your adventure – tailored experiences for all skill levels.
                </p>
                <ul class="expedition-list">
                        <li class="expedition-item">
                                <figure class="expedition-img-figure">
                                        <img class="expedition-img" src="/img/expedition/survival.png"
                                                srcset="/img/expedition/survival.png 1x, /img/expedition/survival@2x.png 2x"
                                                alt="Survival" loading="lazy" width="344" height="198" />
                                        <figcaption class="expedition-describe">Survival Training Camp</figcaption>
                                </figure>
                                <p class="expedition-text-img">Master essential survival skills, including fire-making,
                                        shelter-building, and navigation.</p>
                        </li>
                        <li class="expedition-item">
                                <figure class="expedition-img-figure">
                                        <img class="expedition-img" src="/img/expedition/hikig.png"
                                                srcset="/img/expedition/hikig.png 1x, /img/expedition/hikig@2x.png 2x"
                                                alt="Hiking" loading="lazy" width="344" height="198" />
                                        <figcaption class="expedition-describe">Hiking & Trekking Adventures
                                        </figcaption>
                                </figure>
                                <p class="expedition-text-img">Experience breathtaking trails and test endurance in
                                        nature’s most stunning terrains.</p>
                        </li>
                        <li class="expedition-item">
                                <figure class="expedition-img-figure">
                                        <img class="expedition-img" src="/img/expedition/biking.png"
                                                srcset="/img/expedition/biking.png 1x, /img/expedition/biking@2x.png 2x"
                                                alt="Biking" loading="lazy" width="344" height="198" />
                                        <figcaption class="expedition-describe">Mountain Biking Expedition</figcaption>
                                </figure>
                                <p class="expedition-text-img">Ride through rugged landscapes and conquer challenging
                                        trails.</p>
                        </li>
                        <li class="expedition-item">
                                <figure class="expedition-img-figure">
                                        <img class="expedition-img" src="/img/expedition/climbing.png"
                                                srcset="/img/expedition/climbing.png 1x, /img/expedition/climbing@2x.png 2x"
                                                alt="Climbing" loading="lazy" width="344" height="198" />
                                        <figcaption class="expedition-describe">Rock Climbing & Rappelling</figcaption>
                                </figure>
                                <p class="expedition-text-img">Learn climbing techniques, conquer heights, and overcome
                                        fears.</p>
                        </li>
                        <li class="expedition-item">
                                <figure class="expedition-img-figure">
                                        <img class="expedition-img" src="/img/expedition/canoe.png"
                                                srcset="/img/expedition/canoe.png 1x, /img/expedition/canoe@2x.png 2x"
                                                alt="Canoe" loading="lazy" width="344" height="198" />
                                        <figcaption class="expedition-describe">Whitewater Rafting & Kayaking
                                        </figcaption>
                                </figure>
                                <p class="expedition-text-img">Navigate rapid waters and enhance coordination under
                                        expert guidance.</p>
                        </li>
                        <li class="expedition-item">
                                <figure class="expedition-img-figure">
                                        <img class="expedition-img" src="/img/expedition/retreat.png"
                                                srcset="/img/expedition/retreat.png 1x, /img/expedition/retreat@2x.png 2x"
                                                alt="Retreat" loading="lazy" width="344" height="198" />
                                        <figcaption class="expedition-describe">Eco-Exploration & Wilderness Retreats
                                        </figcaption>
                                </figure>
                                <p class="expedition-text-img">Immerse in sustainable living, wildlife tracking, and
                                        nature conservation activities.</p>
                        </li>

                </ul>
        </div>
</section>
<!-- Team-Building Challenges -->
<section class="team-section" id="Team">
        <div class="title-container title-container-team">
        </div>
        <div class="container">
                <h2 class="team-title">Team-Building Challenges</h2>
                <p class="team-text">Stronger together: adventure-driven teamwork experiences.</p>
                <ul class="team-list">
                        <li class="team-item">
                                <div class="team-img-container">
                                        <img class="team-img" src="/img/team/time.png"
                                                srcset="/img/team/time.png 1x, /img/team/time@2x.png 2x" alt="Time"
                                                loading="lazy" width="319" height="176" />
                                        <div class="text-container">
                                                <h3 class="team-describe">The Ultimate Obstacle Course:</h3>

                                                <p class="team-text-img">Test endurance, agility, and problem-solving
                                                        skills in
                                                        a timed
                                                        team challenge.</p>
                                        </div>
                                </div>
                        </li>
                        <li class="team-item">
                                <div class="team-img-container">
                                        <img class="team-img" src="/img/team/picsurvival.png"
                                                srcset="/img/team/picsurvival.png 1x, /img/team/picsurvival@2x.png 2x"
                                                alt="Picsurvival" loading="lazy" width="319" height="176" />
                                        <div class="text-container">
                                                <h3 class="team-describe">The Survival Simulation:</h3>

                                                <p class="team-text-img">Teams must work together to gather resources,
                                                        build
                                                        shelters,
                                                        and navigate the wild.</p>
                                        </div>
                                </div>
                        </li>
                        <li class="team-item">
                                <div class="team-img-container">
                                        <img class="team-img" src="/img/team/picleadership.png"
                                                srcset="/img/team/picleadership.png 1x, /img/team/picleadership@2x.png 2x"
                                                alt="Picleadership" loading="lazy" width="319" height="176" />
                                        <div class="text-container">
                                                <h3 class="team-describe">The Leadership Gauntlet:</h3>

                                                <p class="team-text-img">A multi-stage challenge that tests leadership
                                                        under
                                                        pressure
                                                        through strategic decision-making.
                                                </p>
                                        </div>
                                </div>
                        </li>
                        <li class="team-item">
                                <div class="team-img-container">
                                        <img class="team-img" src="/img/team/picteam.png"
                                                srcset="/img/team/picteam.png 1x, /img/team/picteam@2x.png 2x"
                                                alt="Picteam" loading="lazy" width="319" height="176" />
                                        <div class="text-container">
                                                <h3 class="team-describe">The Trust Climb:</h3>

                                                <p class="team-text-img">A partner-based rock-climbing challenge that
                                                        strengthens trust
                                                        and communication.</p>
                                        </div>
                                </div>
                        </li>
                        <li class="team-item">
                                <div class="team-img-container">
                                        <img class="team-img" src="/img/team/compass.png"
                                                srcset="/img/team/compass.png 1x, /img/team/compass@2x.png 2x"
                                                alt="Compass" loading="lazy" width="319" height="176" />
                                        <div class="text-container">
                                                <h3 class="team-describe">Navigation Quest:</h3>

                                                <p class="team-text-img">Participants must use maps and compasses to
                                                        locate
                                                        hidden
                                                        checkpoints and reach the finish line first.</p>
                                        </div>
                                </div>
                        </li>
                        <li class="team-item">
                                <div class="team-img-container">
                                        <img class="team-img" src="/img/team/aidd.png"
                                                srcset="/img/team/aidd.png 1x, /img/team/aidd@2x.png 2x" alt="Aidd"
                                                loading="lazy" width="319" height="176" />
                                        <div class="text-container">
                                                <h3 class="team-describe">Wilderness First Aid Drill:</h3>

                                                <p class="team-text-img">Learn essential medical skills and compete in
                                                        rescue
                                                        simulation
                                                        scenarios.</p>
                                        </div>
                                </div>
                        </li>
                </ul>
        </div>
</section>
<!-- Testimonials from Adventurers -->
<section class="testimonials-section" id="Testimonials">
        <div class="title-container title-container-testimonials">
        </div>
        <div class="container testimonials-container">
                <h2 class="testimonials-title">Testimonials from Adventurers</h2>
                <p class="testimonials-text">Real experiences from those who have embarked on the journey with
                        us.</p>
                <div class="testimonials-text-container">
                        <div class="comment-container">
                                <p class="comment-text">"I always loved hiking, but the guided trekking adventure was
                                        next
                                        level. The trails were breathtaking, and the expert
                                        guidance made me feel completely safe while challenging myself."</p>
                                <p class="comment-author">Merve K., Outdoor Enthusiast</p>
                        </div>
                        <div class="comment-container">
                                <p class="comment-text">"We brought a group of students here for an outdoor education
                                        week, and
                                        the impact was incredible. They learned survival
                                        skills, teamwork, and self-confidence—all while having fun."</p>
                                <p class="comment-author">Ayşe B., School Program Coordinator</p>
                        </div>
                        <div class="comment-container">
                                <p class="comment-text">"Rock climbing was something I feared, but the instructors at
                                        Luck Trail
                                        Force helped me conquer my fear. Reaching the
                                        top was an unforgettable moment of victory!"</p>
                                <p class="comment-author">Can T., Adventure-Seeker</p>
                        </div>
                        <div class="comment-container">
                                <p class="comment-text">"Our company retreat at Luck Trail Force was transformative. The
                                        obstacle courses and survival simulations pushed us
                                        beyond our limits, and our team has never been stronger."</p>
                                <p class="comment-author">Eren D., Corporate Team Leader</p>
                        </div>
                        <div class="comment-container">
                                <p class="comment-text">"I had never spent a night in the wilderness before, but after
                                        experiencing the survival camp, I feel ready for any
                                        outdoor adventure."</p>
                                <p class="comment-author">Ozan Y., First-Time Camper</p>
                        </div>
                        <div class="comment-container">
                                <p class="comment-text">"The mountain biking expedition was exhilarating! The trails
                                        were
                                        challenging, but the support from the team made it an
                                        unforgettable ride."</p>
                                <p class="comment-author">Selin A., Fitness Coach</p>
                        </div>
                </div>
        </div>
</section>
<!-- Our Expert Guides -->
<section class="expert-section" id="Expert">
        <div class="title-container">
        </div>
        <div class="container">
                <h2 class="expert-title">Our Expert Guides</h2>
                <p class="expert-text">Adventure leaders with experience, passion, and a love for the wild.</p>
                <ul class="expert-list">
                        <li class="expert-item">
                                <img class="expert-img" src="/img/expert/outdoor.png"
                                        srcset="/img/expert/outdoor.png 1x, /img/expert/outdoor@2x.png 2x" alt="Outdoor"
                                        loading="lazy" width="140" height="140" />

                                <h3 class="expert-subtitle">Certified Outdoor Instructors</h3>
                                <p class="expert-text-item">Trained professionals ensuring safety and skill-building in
                                        all
                                        expeditions.</p>
                        </li>
                        <li class="expert-item">
                                <img class="expert-img" src="/img/expert/putdoorsurvival.png"
                                        srcset="/img/expert/putdoorsurvival.png 1x, /img/expert/putdoorsurvival@2x.png 2x"
                                        alt="Putdoorsurvival" loading="lazy" width="140" height="140" />

                                <h3 class="expert-subtitle">Survival & Bushcraft Specialists</h3>
                                <p class="expert-text-item">Experts in primitive survival, emergency response, and
                                        wilderness
                                        navigation.</p>
                        </li>
                        <li class="expert-item">
                                <img class="expert-img" src="/img/expert/teambuilding.png"
                                        srcset="/img/expert/teambuilding.png 1x, /img/expert/teambuilding@2x.png 2x"
                                        alt="Teambuilding" loading="lazy" width="140" height="140" />

                                <h3 class="expert-subtitle">Leadership & Team-Building Facilitators</h3>
                                <p class="expert-text-item">Crafting programs that enhance collaboration,
                                        decision-making,
                                        and leadership skills.</p>
                        </li>
                        <li class="expert-item">
                                <img class="expert-img" src="/img/expert/climbingman.png"
                                        srcset="/img/expert/climbingman.png 1x, /img/expert/climbingman@2x.png 2x"
                                        alt="Climbingman" loading="lazy" width="140" height="140" />

                                <h3 class="expert-subtitle">Professional Climbers & Mountaineers</h3>
                                <p class="expert-text-item">Guiding participants through vertical challenges with
                                        precision
                                        and care.</p>
                        </li>
                        <li class="expert-item">
                                <img class="expert-img" src="/img/expert/naturelove.png"
                                        srcset="/img/expert/naturelove.png 1x, /img/expert/naturelove@2x.png 2x"
                                        alt="Naturelove" loading="lazy" width="140" height="140" />

                                <h3 class="expert-subtitle">Environmental
                                        Conservation Experts</h3>
                                <p class="expert-text-item">Teaching sustainable outdoor ethics and nature preservation.
                                </p>
                        </li>
                </ul>



        </div>
</section>
<!-- Adventure Facilities & Gear -->
<section class="gear-section" id="Gear">
        <div class="title-container title-container-team">
        </div>
        <div class="container gear-container">
                <h2 class="gear-title">Adventure Facilities & Gear</h2>
                <p class="gear-text">State-of-the-art equipment and safe, well-maintained expedition areas.</p>
                <picture class="picture">
                        <source srcset="/img/gear/pic-desk-min.png  1x,  /img/gear/pic-desk@2x-min.png 2x
         " media="(min-width: 1439px)" />
                        <source srcset="/img/gear/pic-mob-min.png  1x,   /img/gear/pic-mob@2x-min.png 2x
        " media="(max-width: 1438px)" />
                        <img class="gear-main-img" src="/img/gear/pic-mob-min.png" alt="Picture" loading="lazy" />
                </picture>
                <ul class="gear-list">
                        <li class="gear-item">
                                <img class="gear-img" src="/img/gear/vector.png" alt="Vector" loading="lazy" />
                                <div class="list-conteiner">
                                        <h3 class="gear-subtitle">Base Camps & Shelters</h3>
                                        <p class="gear-text-item">Comfortable lodges and camping sites for different
                                                expedition levels.</p>
                                </div>
                        </li>
                        <li class="gear-item">
                                <img class="gear-img" src="/img/gear/vector.png" alt="Vector" loading="lazy" />
                                <div class="list-conteiner">
                                        <h3 class="gear-subtitle">Rock Climbing Zones</h3>
                                        <p class="gear-text-item">Secure climbing walls and natural rock faces with
                                                safety gear provided.</p>
                                </div>
                        </li>
                        <li class="gear-item">
                                <img class="gear-img" src="/img/gear/vector.png" alt="Vector" loading="lazy" />
                                <div class="list-conteiner">
                                        <h3 class="gear-subtitle">Trail Networks & Terrain Parks</h3>
                                        <p class="gear-text-item">Marked trails for mountain biking, trekking, and
                                                navigation challenges.</p>
                                </div>
                        </li>
                        <li class="gear-item">
                                <img class="gear-img" src="/img/gear/vector.png" alt="Vector" loading="lazy" />
                                <div class="list-conteiner">
                                        <h3 class="gear-subtitle">Water Activity Centers</h3>
                                        <p class="gear-text-item">Certified locations for rafting, kayaking, and aquatic
                                                training.</p>
                                </div>
                        </li>
                        <li class="gear-item">
                                <img class="gear-img" src="/img/gear/vector.png" alt="Vector" loading="lazy" />
                                <div class="list-conteiner">
                                        <h3 class="gear-subtitle">Expedition Gear Rental</h3>
                                        <p class="gear-text-item">High-quality outdoor gear available for all
                                                participants.</p>
                                </div>
                        </li>
                </ul>
        </div>
</section>
<!-- How to Join -->
<section class="join-section" id="Join">
        <div class="title-container">
        </div>
        <div class="container">
                <h2 class="join-title">How to Join</h2>
                <p class="join-text">Get ready for the adventure of a lifetime.</p>
                <p class="contact-text">Contact us at: <a class="link-text"
                                href="mailto:info@lucktrailforce.com">info@lucktrailforce.com</a> </p>
        </div>
</section>