<!-- hero -->
<section class="hero-section">
    <div class="container hero-conteiner">
         <h1 class="hero-title"><span class="hero-span">Welcome to</span><br/> Luck Trail Force</h1>
        <p class="hero-text">Experience adventure, build resilience, and embrace the wild.</p>
        <p class="hero-big-text">At Luck Trail Force, we create unforgettable outdoor experiences that challenge, inspire, and unite. Whether you're an individual seeking adventure, a company looking for team-building programs, or a school organizing an outdoor education trip, we provide expert-guided expeditions that test limits and create lasting memories.</p>
    </div>
</section>
<!-- Our Adventure Philosophy -->
 <aside class="adventure-section">
    <div class="title-container">
        <div class="container">
        <h2 class="adventure-title">Our Adventure Philosophy</h2>
    </div>
    </div>
    <div class="container item-container">
        <div class="quote-container">
        <img class="adventure-quote-img" src="/img/adventure/quote.png" alt="Quote">
        <p class="adventure-text">Exploration is more than a journey – it’s a transformation.</p>
    </div>
    <ul class="adventure-list">
        <li class="adventure-item">
        <picture class="picture">
            <source srcset="
            /img/adventure/courage-desk.png  1x,
            /img/adventure/courage-desk@2x.png 2x
                    " media="(min-width: 1439px)" />
            <source srcset="
            /img/adventure/courage-mob.png   1x,
            /img/adventure/courage-mob@2x.png 2x
                    " media="(max-width: 1438px)" />
            <img class="adventure-img" src="/img/adventure/courage-mob.png" alt="Courage" loading="lazy" />
          </picture>
       
          <h3 class="adventure-list-title">Courage & Growth:</h3>
          <p class="adventure-list-text">We push limits and encourage participants to step outside their comfort zones.</p>
        
        </li>
        <li class="adventure-item">
            <picture class="picture">
                <source srcset="
                /img/adventure/team-desk.png  1x,
                /img/adventure/team-desk@2x.png 2x
                        " media="(min-width: 1439px)" />
                <source srcset="
                /img/adventure/team-mob.png   1x,
                /img/adventure/team-mob@2x.png 2x
                        " media="(max-width: 1438px)" />
                <img class="adventure-img" src="/img/adventure/team-mob.png" alt="Team" loading="lazy" />
              </picture>
            
              <h3 class="adventure-list-title">Teamwork & Leadership:</h3>
              <p class="adventure-list-text">Our activities strengthen collaboration, trust, and leadership skills.</p>
          
         </li>
        <li class="adventure-item">
            <picture class="picture">
            <source srcset="
                    /img/adventure/challenge-desk.png  1x,
                    /img/adventure/challenge-desk@2x.png 2x
                            " media="(min-width: 1439px)" />
             <source srcset="
                    /img/adventure/challenge-mob.png   1x,
                    /img/adventure/challenge-mob@2x.png 2x
                            " media="(max-width: 1438px)" />
             <img class="adventure-img" src="/img/challenge/team-mob.png" alt="Challenge" loading="lazy" />
            </picture>
      
             <h3 class="adventure-list-title">Challenge-Based Learning:</h3>
            <p class="adventure-list-text">Every expedition is designed to teach resilience, problem-solving, and adaptability.</p>
            
         </li>
        <li class="adventure-item">
        <picture class="picture">
         <source srcset="
                    /img/adventure/respect-desk.png  1x,
                    /img/adventure/respect-desk@2x.png 2x
                            " media="(min-width: 1439px)" />
            <source srcset="
                    /img/adventure/respect-mob.png   1x,
                    /img/adventure/respect-mob@2x.png 2x
                            " media="(max-width: 1438px)" />
        <img class="adventure-img" src="/img/challenge/respect-mob.png" alt="Respect" loading="lazy" />
         </picture>
      
         <h3 class="adventure-list-title">Respect for Nature:</h3>
        <p class="adventure-list-text">We teach environmental awareness and survival skills to foster a deeper connection with the outdoors.</p>
  
        </li>
        </ul>
</div>
 </aside>